.winner {
  font-size: 8vh;
  color: blue;
}

#rock-paper-1-form .description {
  font-size: 2vh;
  font-style: italic;
}

#rock-paper-2-form .description {
  font-size: 2vh;
  font-style: italic;
}

#edit-choice-1, #edit-choice-2 {
  font-size: 2vh;
}

#rock-paper-1-form, #rock-paper-2-form {
  border: 1px solid black;
  padding-left: 20px;
  width: 40vh;
  background-color: #e6ccff;
}

#rock-paper-1-form label {
  font-size: 2vh;
}

#rock-paper-2-form label {
  font-size: 2vh;
}

#edit-submit {
  background-color: #4CAF50 !important;
  color: purple;
  font-weight: bolder;
}
